<div class="container-fluid">
  <!-- This is from another module -->
  <!-- <app-paragraph></app-paragraph> -->


  <div class="card">
    <div class="card-header">App component / Root component</div>
    <div class="card-body">

        <div class="row">

          <div class="col-md-6">
            <app-login></app-login>
          </div>

          <div class="col-md-6">
            <app-login1></app-login1>
          </div>

          <div class="col-md-6">
            <app-register></app-register>
          </div>

               <!-- this are a child components -->
            <div class="col-md-6">

              <div class="form-group">
                <label>Enter an amenity for room A10:</label>
                <input class="form-control" type="text" [(ngModel)]="amenity"/>
                <button class="btn btn-info" [disabled]="amenities.length>2" (click)="onSave();">save</button>
              </div>

                <app-child-a [displayAminities]="amenities"></app-child-a>
            </div>

            <div class="col-md-6">
                <app-child-b [displayAminities]="amenities" (deleteAminity)="deleteElement($event);"></app-child-b>
            </div>

        </div>
         
      <!-- *ngFor  structural directive-->
      <div class="row">
        <div class="col-md-4" *ngFor="let item of userData" appHighlight>
          <app-temp>{{ item.name }}</app-temp>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              HTML element iteration
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of userData" appHighlight>
                name - {{ item.name }}, age - {{item.age}}, mobile No - {{item.mobileNo}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- ngSwitch -->

      <!-- *ngIf  structural directive-->

      <h1 *ngIf="age > 30; else show">age is greater than 30</h1>

      <ng-template #show>
        <div class="alert alert-success" role="alert">
          <h3>age is less than 30</h3>
        </div>
      </ng-template>

  

    </div>
  </div>


</div>


